<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Interface bindings: repository preferences -->
    <preference for="Panth\FilterSeo\Api\FilterRewriteRepositoryInterface"
                type="Panth\FilterSeo\Model\FilterRewrite\Repository"/>
    <preference for="Panth\FilterSeo\Api\CategoryFilterMetaRepositoryInterface"
                type="Panth\FilterSeo\Model\CategoryFilterMeta\Repository"/>

    <!-- FilterRouter is area-specific; registered in etc/frontend/di.xml -->

    <!-- Grid collections: table + resource model binding -->
    <type name="Panth\FilterSeo\Model\ResourceModel\FilterRewrite\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">panth_seo_filter_rewrite</argument>
            <argument name="resourceModel" xsi:type="string">Panth\FilterSeo\Model\ResourceModel\FilterRewrite</argument>
        </arguments>
    </type>
    <type name="Panth\FilterSeo\Model\ResourceModel\CategoryFilterMeta\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">panth_seo_category_filter_meta</argument>
            <argument name="resourceModel" xsi:type="string">Panth\FilterSeo\Model\ResourceModel\CategoryFilterMeta</argument>
        </arguments>
    </type>

    <!-- Data Provider Configuration: register grid data sources -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="panth_filterseo_filterrewrite_listing_data_source" xsi:type="string">Panth\FilterSeo\Model\ResourceModel\FilterRewrite\Grid\Collection</item>
                <item name="panth_filterseo_filter_meta_listing_data_source" xsi:type="string">Panth\FilterSeo\Model\ResourceModel\CategoryFilterMeta\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
