<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Form data provider virtual types: inject the correct collection so the
         form UI receives data keyed by entity ID. -->
    <virtualType name="Panth\FilterSeo\Ui\Component\Form\DataProvider\FilterMetaFormDataProvider"
                 type="Panth\FilterSeo\Ui\Component\Form\DataProvider\GenericFormDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Panth\FilterSeo\Model\ResourceModel\CategoryFilterMeta\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="Panth\FilterSeo\Ui\Component\Form\DataProvider\FilterRewriteFormDataProvider"
                 type="Panth\FilterSeo\Ui\Component\Form\DataProvider\GenericFormDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Panth\FilterSeo\Model\ResourceModel\FilterRewrite\Collection</argument>
        </arguments>
    </virtualType>

</config>
